body {
    background-color: black;
    color: rgb(167, 35, 35);
}

* {
    font-family: arial;
}

a, a:hover, a:visited {
    color: rgb(34, 115, 117);
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}
